.inner-page-image-header {
  height: 350px;
  margin-top: 70px;
  background-size: cover;
  background-position: 50% 50%;
  
  @media (max-width: 1200px) {
    margin-top: 101px;
  }
  
  @media (max-width: 840px) {
    margin-top: 50px;
  }
}

.about-us-description {

  .accent-p p {
  
    @media (max-width: 840px) {
      margin-top: 35px !important;
    }
  }
}

.banner-with-statistic-section {
  height: 450px;
  margin-top: 75px;
  background-size: cover;
  background-position: 50% 50%;

  .statistic-list {
    height: 195px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0;
    border-radius: 4px;
    @include shadow;
    position: relative;
    top: -75px;

    @media (max-width: 1200px) {
      padding: 35px 17px;
      height: 174px;
    }
  
    @media (max-width: 840px) {
      width: 168px;
      display: block;
      top: -50px;
      height: auto;
      padding: 15px;
    }

    li {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      position: relative;
      padding-left: 60px;

      @media (max-width: 1200px) {
        padding-left: 18px;
        padding-right: 18px;
      }
  
      @media (max-width: 840px) {
        padding: 0;

        &:not(:last-child) {
          padding-bottom: 20px;
        }

        &:not(:first-child) {
          padding-top: 15px;
        }
      }

      &:not(:first-child):after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        background: rgba(0, 0, 0, 0.15);
      }
  
      @media (max-width: 840px) {
        
        &:not(:first-child):after {
          top: 0;
          bottom: auto;
          left: 0;
          right: 0;
          height: 1px;
          width: auto;
          background: rgba(0, 0, 0, 0.15);
        }
      }

      .number {
        font-size: 60px;
        line-height: 60px;
        font-family: "Exo 2";
        color: #31ca81;

        @media (max-width: 1200px) {
          font-size: 50px;
          line-height: 50px;
        }

        @media (max-width: 840px) {
          font-size: 40px;
          line-height: 40px;
        }
      }
  
      .description {
        color: $darkish-blue-darker;

        @media (max-width: 840px) {
          margin-top: 5px;
        }
      }
    }
  }
}

.testimonials-section {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;

  @media (max-width: 840px) {
    padding-top: 50px;

    .container {
      padding: 0;
    }
  }

  .testimonials-list {
    width: 840px;
    margin: 0 auto;

    &:after {
      content: "";
      width: 168px;
      height: 131px;
      background: url(../images/img_quote.png);
      background-size: cover;
      position: absolute;
      top: 0;
      right: -90px;
      z-index: -1;

      @media (max-width: 840px) {
        right: 50px;
        top: -15px;
        width: 103px;
        height: 80px;
      }
    }

    &:before {
      content: "";
      width: 168px;
      height: 131px;
      background: url(../images/img_quote.png);
      background-size: cover;
      position: absolute;
      bottom: 15px;
      left: -80px;
      z-index: -1;

      @media (max-width: 840px) {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      width: 583px;
    }

    @media (max-width: 840px) {
      width: 100%;
    }

    .ava-wrapper {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: -50px;
      margin-left: 50px;
    }

    .text-wrapper {
      border-radius: 4px;
      @include shadow;
      background: #fff;
      padding: 50px 50px 35px;
      margin-bottom: 50px;
      text-align: left;

      @media (max-width: 840px) {
        margin: 0 20px 35px;
      }

      .name {
        font-weight: 500;
        color: $darkish-blue;
        margin-top: 25px;
      }

      .work-label {
        color: $darkish-blue;
      }

      p {
        font-size: 25px;
        line-height: 35px;
        color: $light-navy;
        font-family: "Exo 2";


        @media (max-width: 1200px) {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

    .owl-item {

      @media (min-width: 1200px) {
        width: 760px !important;
      }

      @media (max-width: 1200px) and (min-width: 840px) {
        width: 503px !important;
      }
    }

    .owl-prev,
    .owl-next {
      width: 50px;
      height: 50px;
      position: absolute;
      background-position: 50% !important;
      background-color: $light-gray !important;
      background-repeat: no-repeat !important;
      border-radius: 50%;
      top: 225px;
      outline: none;

      @media (max-width: 1200px) {
        top: 150px;
      }

      @media (max-width: 840px) {
        display: none;
      }

      span {
        display: none;
      }
    }

    .owl-prev {
      left: -90px;
      background-image: url(../images/icons/arrow-left.svg) !important;

      @media (max-width: 1200px) {
        left: -35px;
      }

      &:hover {
        background-image: url(../images/icons/arrow-left-green.svg) !important;
      }
    }

    .owl-next {
      right: -90px;
      background-image: url(../images/icons/arrow_small_gray.svg) !important;

      @media (max-width: 1200px) {
        right: -35px;
      }

      &:hover {
        background-image: url(../images/icons/arrow_small_green.svg) !important;
      }
    }

    .owl-dots {
      padding: 15px 25px;
      background: $light-gray;
      border-radius: 25px;
      display: inline-block;
      font-size: 0;
      line-height: 0;
    
      .owl-dot {
        border-radius: 50%;
        height: 7px;
        width: 7px;
        margin: 0 4px;
        background: $light-blue-grey;
        border: 6px solid $light-gray;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        outline: none;
        position: relative;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    
        &:after {
        content: "";
          position: absolute;
          top: -15px;
          bottom: -15px;
          left: -11px;
          right: -11px;
          display: block;
        }
    
        &:hover {
          background: $greenish-teal;
        }
    
        &.active {
          border-color: $greenish-teal;
          background: #fff;
        }
      }
    }
  }
}

.team-section {
  background: $light-gray;
  padding-top: 75px;

  .h-label {
    text-align: center;
  }

  .top-employee {
    text-align: center;
    border-radius: 4px;
    margin-top: 150px;
    background: #fff;
    border: 1px solid $very-light-blue;
    -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;

    &:hover {
      @include shadow;
      border: 1px solid rgba(255, 255, 255, 0);
    }

    @media (max-width: 1200px) {
      margin-top: 112px;
    }

    @media (max-width: 840px) {
      margin-top: 87px;
    }

    .name {
      margin-top: -75px;

      @media (max-width: 1200px) {
        margin-top: -40px;
      }

      @media (max-width: 840px) {
        margin-top: -35px;
      }
    }

    .title {
      margin-bottom: 25px;

      @media (max-width: 1200px) {
        margin-bottom: 40px;
      }

      @media (max-width: 840px) {
        margin-bottom: 15px;
      }
    }

    .linkedin-link {
      padding: 15px 0;
      display: block;
      border-top: 1px solid #e8ebf2;

      @media (max-width: 840px) {
        padding: 10px 0;
      }

      svg {
        fill: $light-blue-grey;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        width: 35px;
        height: 35px;

        @media (max-width: 840px) {
          width: 25px;
          height: 25px;
        }
      }

      &:hover svg {
        fill: $greenish-teal;
      }
    }

    .ava-wrapper {
      border-radius: 50%;
      overflow: hidden;
      width: 175px;
      margin: 0 auto;
      height: 175px;
      position: relative;
      top: -100px;

      @media (max-width: 1200px) {
        width: 125px;
        height: 125px;
        top: -62px;
      }

      @media (max-width: 840px) {
        width: 100px;
        height: 100px;
        top: -50px;
      }

      img {
        display: block;

        @media (max-width: 1200px) {
          width: 125px;
          height: 125px;
        }

        @media (max-width: 840px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    .name {
      color: $darkish-blue;
      font-weight: 500;

      @media (max-width: 840px) {
        margin-bottom: 5px;
      }
    }

    .title {
      color: $steel;
    }
  }

  .employee-list {
    margin-top: 75px;
    padding-bottom: 100px;
  
    @media (max-width: 840px) {
      padding-bottom: 50px;
      margin-top: 50px;
    }

    .owl-nav {
      display: none;
    }

    .owl-dots {
      display: none;
    }
  
    .employee {
      width: 150px;
      height: 150px;
      overflow: hidden;
      border-radius: 50%;
      position: relative;
      text-align: center;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
  
      @media (max-width: 840px) {
        width: 100px;
        height: 100px;
      }

  
      @media (min-width: 840px) {

        &:hover {
          background: $greenish-teal;

          .name {
            opacity: 1;
          }

          .title {
            opacity: 1;
          }

          a {
            opacity: 1;
          }
        }
      }
  
      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }

      .name {
        color: #fff;
        font-weight: 500;
        margin-top: 50px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        opacity: 0;
      }
  
      .title {
        color: #fff;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        opacity: 0;
      }

      a {
        margin-top: 5px;
        display: block;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        opacity: 0;

        svg {
          fill: #fff;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
        }

        &:hover {

          svg {
            fill: rgba(255, 255, 255, .7);
          }
        }
      }
    }
  }
}