.inner-page-main-banner {
  margin-top: 70px;
  font-size: 0;
  background: url(../images/home_hero.png);
  background-size: cover;
  height: 350px;
  margin-bottom: 75px;
  background-position: 50% 50%;

  @media (max-width: 1200px) {
    margin-top: 101px;
    margin-bottom: 50px;
  }

  @media (max-width: 840px) {
    margin-top: 50px;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .dark-label {
    width: 460px;
    padding: 50px;
    background: $light-navy;
    position: absolute;
    bottom: -75px;
    border-radius: 4px;

    @media (max-width: 1200px) {
      width: 430px;
      bottom: -50px;
    }
  
    @media (max-width: 840px) {
      width: auto;
      padding: 35px;
      left: 20px;
      right: 20px;
    }

    .h-label {
      margin-bottom: 15px;
      color: #31ca81;
    }

    .h2 {
      margin-bottom: 0;
      color: #fff;
  
      @media (max-width: 1200px) {
      }
  
      @media (max-width: 840px) {
        margin-top: 0;
        width: 250px;
        font-weight: 600;
      }
    }
  
    .btn-primary {
      @include btn;
      margin-top: 35px;
      background: $greenish-teal;

      &:hover {
        background: darken($greenish-teal, 5%);
      }
  
      @media (max-width: 840px) {
        margin-top: 25px;
      }
    }
  }
}

.description-section {
  padding: 75px 0;
  border-bottom: 1px solid $very-light-blue;

  @media (max-width: 1200px) {
    padding-top: 50px;
  }
  
  @media (max-width: 840px) {
    padding-bottom: 25px;
  }

  .main-col {

    .lead {
      font-family: "Exo 2";
      font-size: 25px;
      line-height: 35px;
      font-weight: bold;
      color: $light-navy;
      margin-bottom: 25px;
      margin-top: 25px;

      @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 26px;
      }
  
      @media (max-width: 840px) {
        margin-top: 0;
        margin-bottom: 15px;
      }
    }
  
    p {

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .info-card {
    background: #f9f9f9;
    padding: 35px;
    margin-top: 50px;
    background-image: url(../images/icons/cubes/ic_cube-3.png);
    background-size: 75px;
    background-position: 35px 35px;
    background-repeat: no-repeat;
    min-height: 135px;
    padding-left: 135px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    @media (max-width: 1200px) {
      width: 770px;
    }
  
    @media (max-width: 840px) {
      width: auto;
      margin-top: 35px;
      background-size: 50px;
      padding: 15px;
      padding-left: 80px;
      min-height: 80px;
      background-position: 15px 15px;
    }

    p {
      margin: 0;
    }
  }

  .accent-col {

    .accent-p {
      position: relative;
  
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        background: $sl-green;
        border-radius: 2px;
        top: -7px;
        left: -18px;

        @media (max-width: 840px) {
          top: -11px;
          left: 50%;
          margin-left: -16px;
        }
      }
  
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: $sl-green;
        border-radius: 2px;
        top: -26px;
        left: -38px;

        @media (max-width: 840px) {
          top: -31px;
          left: 50%;
          margin-left: -36px;
        }
      }
  
      p {
        font-family: "Exo 2";
        font-size: 25px;
        line-height: 35px;
        color: $greenish-teal;
        margin: 25px 0;
        position: relative;
        z-index: 1;

        @media (max-width: 1200px) {
          font-size: 18px;
          line-height: 26px;
        }
  
        @media (max-width: 840px) {
          margin-top: 65px;
          text-align: center;
        }
      }
    }
  }
}

.tabs-section {
  margin-top: 50px;
  padding-top: 100px;
  position: relative;
  padding-bottom: 80px;

  @media (max-width: 1200px) {
    margin-top: 58px;
    padding-bottom: 50px;
  }

  @media (max-width: 840px) {
    margin-top: 25px;
    text-align: center;
    padding-top: 48px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -3;
    background: $light-gray;
  }

  .tab-list {
    margin-top: 35px;
    overflow-x: auto;

    @media (max-width: 840px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding-left: 20px;
      background: #fff;
      margin-top: 35px;
      padding-top: 0;
      margin: 35px -20px 0;
      @include shadow;
      position: relative;
      z-index: 1;
    }

    li {
      margin-top: 10px;

      @media (max-width: 840px) {
        margin-top: 0;
      }

      &.active {

        a {
          background: $darkish-blue-darker;
          border-color: $greenish-teal;
          color: #fff !important;

          @media (max-width: 840px) {
            border-bottom: 3px solid $greenish-teal;
            background: #fff;
            color: $darkish-blue-darker !important;
          }

          &:after {
            background: url(../images/icons/arrow_small_green.svg);
          }
        }
      }

      a {
        border-left: 5px solid $very-light-blue;
        background: #fff;
        border-radius: 4px;
        display: block;
        line-height: 60px;
        width: 360px;
        padding-left: 20px;
        font-family: "Exo 2";
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        color: #68789C;
        position: relative;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;

        &:hover {
          border-left-color: $greenish-teal;
          color: $greenish-teal;
        }

        @media (max-width: 1200px) {
          width: auto;
          line-height: 58px;
          font-size: 14px;
        }

        @media (max-width: 840px) {
          background: #fff;
          border-left: none;
          border-bottom: 3px solid #fff;
          border-radius: 0;
          width: auto;
          padding: 0 15px;
          line-height: 55px;
        }

        &:after {
          content: "";
          position: absolute;
          top: 13px;
          right: 21px;
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/icons/arrow_small_gray.svg);

          @media (max-width: 840px) {
            display: none;
          }
        }
      }
    }
  }

  .card-stack {
    padding: 50px;
    margin-top: 15px;
    background: #fff;
    border-radius: 4px;
    @include shadow;
    position: relative;

    @media (max-width: 1200px) {
      margin-top: 0;
      padding: 25px;
    }

    @media (max-width: 840px) {
      margin: 0 -20px 0;
      border-radius: 0;
      padding: 20px;
      text-align: left;
    }

    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      right: -15px;
      bottom: -15px;
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 4px;
      @include shadow;
      z-index: -1;

      @media (max-width: 840px) {
        display: none;
      }
    }

    &:after {
      z-index: -2;
      right: -30px;
      bottom: -30px;
    }

    .card {
      display: none;

      &.active {
        display: block;
      }

      .card-label {
        color: $greenish-teal;
  
        @media (max-width: 840px) {
          display: none;
        }
      }
  
      .h3 {
        line-height: 35px;
        margin-top: 15px;
        margin-bottom: 35px;
  
        @media (max-width: 1200px) {
          line-height: 25px;
          margin-bottom: 25px;
        }
  
        @media (max-width: 840px) {
          margin-top: 5px;
        }
      }
  
      p {
        margin: 25px 0;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.text-and-image-section {
  overflow: hidden;
  padding: 50px 0 100px;
  position: relative;
  overflow: hidden;
  background: $light-gray;
  
  @media (max-width: 840px) {
    padding: 50px 0;
    position: relative;
    overflow: hidden;

    .col-lg-7 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
    }

    .col-lg-5 {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
    }
  }

  p + ul {
    padding-top: 5px;

    @media (max-width: 1200px) {
      padding-top: 0;
    }

    @media (max-width: 840px) {
      padding-top: 4px;
    }
  }

  .image-block {
    height: 200px;

    @media (max-width: 840px) {
      height: 230px;
    }

    img {
      width: 760px;
      position: relative;
      left: -235px;
      top: 75px;

      @media (max-width: 1200px) {
        width: 476px;
        left: -137px;
        top: 58px;
      }

      @media (max-width: 840px) {
        width: 360px;
        left: -43px;
        top: -34px;
      }
    }
  }

  .text-block {
    padding: 50px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);

    ul {
      position: relative;
      z-index: 1;
    }

    @media (max-width: 1200px) {
      padding: 25px;
    }
  
    @media (max-width: 840px) {
      padding: 15px;
    }

    p {

      @media (max-width: 1200px) {
        margin-bottom: 10px;
      }
  
      @media (max-width: 840px) {
        margin-top: 15px;
      }
    }

    .h5 {
      margin-top: 35px;

      @media (max-width: 1200px) {
        margin-top: 25px;
      }
    }

    ul {
      font-size: 0;
      line-height: 0;
      
      li {
        display: inline-block;
        margin-top: 15px;
        margin-right: 15px;

        @media (max-width: 840px) {
          margin-top: 10px;
          margin-right: 10px;
        }

        a {
          @include btn-secondary;

          @media (max-width: 840px) {
            height: 30px;
            line-height: 30px;
            padding: 0 15px;
          }
        }
      }
    }
  }
}

.dark-quote-section {
  text-align: center;
  background: url(../images/quote-background.jpg);
  padding: 75px 0;

  @media (max-width: 840px) {
    padding: 50px 0;
  }

  .dark-block {
    background: $light-navy;
    overflow: hidden;
    width: 760px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 30px;

    @media (max-width: 840px) {
      width: auto;
      margin: 0 20px;
    }

    .quote-icon {
      width: 101px;
      height: 84px;
      display: block;
      margin: 50px auto 0;

      @media (max-width: 840px) {
        display: block;
        margin: 35px auto 0;
      }
    }

    .h2 {
      margin-top: 25px;
      color: #fff;

      @media (max-width: 840px) {
        margin-top: 15px;
      }
    }

    .btn-primary {
      @include btn;
      margin-top: 35px;
      position: relative;
      margin-bottom: 50px;
      background: $greenish-teal;

      &:hover {
        background: darken($greenish-teal, 5%);
      }

      @media (max-width: 840px) {
        margin-top: 25px;
        margin-bottom: 35px;
      }
    }
  }
}

.projects-carousel-section {
  padding: 75px 0 50px;
  overflow: hidden;
  border-bottom: 1px solid $very-light-blue;

  @media (max-width: 840px) {
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .section-label {
    color: $steel;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Exo 2";
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 18px;
    }

    @media (max-width: 840px) {
      margin-bottom: 15px;
    }
  }

  .lead-text {
    font-family: "Exo 2";
    color: $light-navy;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    margin-top: 25px;

    @media (max-width: 1200px) {
      font-size: 18px;
      line-height: 26px;
      width: 630px;
    }

    @media (max-width: 840px) {
      margin-top: 15px;
      width: auto;
      margin: 0 20px;
    }
  }

  .list-of-project {
    text-align: center;

    .owl-stage-outer {
      padding-top: 75px;
      padding-bottom: 50px;

      @media (max-width: 840px) {
        padding-top: 35px;
        padding-bottom: 35px;
      }
    }

    .owl-item {
      width: 460px !important;
    
      @media (max-width: 1200px) {
        width: 303px !important;
      }

      @media (max-width: 840px) {
        width: 275px !important;
      }

      .project {
        text-align: left;
        height: 350px;
        background-position: 50% !important;
        background-size: cover !important;
        position: relative;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border-radius: 4px;
        overflow: hidden;
        display: block;
    
        @media (max-width: 1200px) {
          height: 275px;
        }
  
        @media (min-width: 1200px) {
    
          &:hover {
            @include shadow();
    
            &.dark-img {
    
              .text-block {
                background-color: rgba($light-navy, .85);
              }
            }
    
            .text-block {
              background-color: rgba(#fff, .85);
    
              h3 {
                bottom: 290px;
              }
    
              p {
                top: 0;
              }
    
              &:after {
                margin-right: 0;
                opacity: 1;
              }
            }
          }
        }
    
        @media (max-width: 840px) {
          margin-top: 15px;
        }
  
        &.dark-img {
    
          .text-block {
            background-color: rgba($light-navy, 0);
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 48, 89, 0)), to(rgba(17, 48, 89, 0.6)));
            background-image: -webkit-linear-gradient(top, rgba(17, 48, 89, 0), rgba(17, 48, 89, 0.6));
            background-image: -o-linear-gradient(top, rgba(17, 48, 89, 0), rgba(17, 48, 89, 0.6));
            background-image: linear-gradient(to bottom, rgba(17, 48, 89, 0), rgba(17, 48, 89, 0.6));
    
            p, h3 {
              color: #fff;
            }
  
            &:after {
              background-color: $light-navy;
            }
          }
        }
    
        &:hover {
          @include shadow();
    
          .text-block {
    
            &:after {
              margin-right: 0;
              opacity: 1;
            }
          }
        }
    
        &.dark-img {
    
          .text-block {
            background: rgba($light-navy, .5);
    
            p, h3 {
              color: #fff;
            }
          }
        }
  
        .text-block {
          padding: 65px 25px 25px;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s;
          background-color: rgba(255, 255, 255, 0);
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.6)));
          background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 100%);
          background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 100%);
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6) 100%);
    
          @media (max-width: 1200px) {
            padding: 15px;
          }
    
          &:after {
            content: "";
            display: block;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            position: absolute;
            bottom: 25px;
            right: 25px;
            background: url(../images/icons/arrow.svg);
            margin-right: 10px;
            opacity: 0;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
            background-color: #fff;
    
            @media (max-width: 1200px) {
              display: none;
            }
          }
    
          p {
            position: relative;
            top: 300px;
            margin: 10px 0 0;
            color: $gunmetal;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
          }
  
          h3 {
            position: absolute;
            bottom: 25px;
            left: 25px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
          }
        }
      }
    }
  }

  .owl-dots {
    padding: 15px 25px;
    background: $light-gray;
    margin: 0 auto;
    border-radius: 25px;
    display: inline-block;
    font-size: 0;
    line-height: 0;

    .owl-dot {
      border-radius: 50%;
      height: 7px;
      width: 7px;
      margin: 0 4px;
      background: $light-blue-grey;
      border: 6px solid $light-gray;
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      outline: none;
      position: relative;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;

      &:after {
        content: "";
        position: absolute;
        top: -15px;
        bottom: -15px;
        left: -11px;
        right: -11px;
        display: block;
      }

      &:hover {
        background: $greenish-teal;
      }

      &.active {
        border-color: $greenish-teal;
        background: #fff;
      }
    }
  }
}

.four-col-text-section {
  padding: 75px 0;
    
  @media (max-width: 840px) {
    padding-top: 50px;

    .custom-row {
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        clear: both;
      }

      .icon-col {
        width: 50px;
        float: left;

        img {
          display: block;
        }
      }

      .heading-col {
        margin-left: 60px;
        overflow: hidden;
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
      }
    }
  }

  .section-label {
    color: $steel;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Exo 2";
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .lead-text {
    font-family: "Exo 2";
    color: $light-navy;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    width: 960px;
    margin: 0 auto;
    margin-top: 25px;

    @media (max-width: 1200px) {
      font-size: 18px;
      line-height: 26px;
      width: 640px;
    }

    @media (max-width: 840px) {
      margin: 15px 20px;
      width: auto;
    }
  }

  & > .container > .row {
    margin-top: 75px;

    @media (max-width: 1200px) {
      margin-top: 40px;

      .col-lg-6 {
        margin-top: 35px;
      }
    }

    @media (max-width: 840px) {
      margin-top: 0;

      .col-lg-6 {
        margin-top: 20px;
      }
    }

    img {
      width: 75px;
      height: 75px;
      display: block;

      @media (max-width: 1200px) {
        width: 50px;
        height: 50px;
      }
    }

    .h3 {
      margin-top: 35px;
      line-height: 35px;

      @media (max-width: 1200px) {
        margin-top: 10px;
        line-height: 26px;
        margin-bottom: 15px;
      }

      @media (max-width: 840px) {
      }
    }
  }
}