.page-id-27 .inner-page-main-banner {
  background-position: 70% 50%;
}

.page-id-602 .inner-page-main-banner {
  background-position: 90% 50%;
}

.page-id-594 .inner-page-main-banner {
  background-position: 85% 50%;
}

.page-id-628 .inner-page-main-banner {
  background-position: 100% 50%;
}

.page-id-715 .inner-page-main-banner {
  background-position: 70% 50%;
}

.page-id-787 .inner-page-main-banner {
  background-position: 80% 50%;

}

.page-id-709 .inner-page-main-banner {
  background-position: 100% 50%;
}

.page-id-58 .inner-page-main-banner {
  background-position: 75% 50%;
}

.page-id-726 .inner-page-main-banner {
  background-position: 90% 50%;
}

.page-id-723 .inner-page-main-banner {
  background-position: 100% 50%;
}

.page-id-763 .inner-page-main-banner {
  background-position: 90% 50%;
}

.page-id-759 .inner-page-main-banner {
  background-position: 70% 50%;
}

.page-id-754 .inner-page-main-banner {
  background-position: 85% 50%;
}

.page-id-748 .inner-page-main-banner {
  background-position: 90% 50%;
}

.page-id-766 .inner-page-main-banner {
  background-position: 85% 50%;
}

.page-id-82 .inner-page-main-banner {
  background-position: 85% 50%;
}

.page-id-634 .inner-page-main-banner {
  background-position: 50% 35%;
}