.h1 {
  font-family: "Exo 2";
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
  color: var(--light-navy);
  margin: 0;
}

.h2 {
  font-family: "Exo 2";
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
  color: var(--light-navy);
  margin: 0;
}

.h3 {
  font-family: "Exo 2";
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: var(--light-navy);
  margin: 0;
}

.h4 {
  font-family: "Exo 2";
  font-size: 16px;
  color: var(--steel);
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.h5 {
  color: var(--darkish-blue);
  font-weight: normal;
  margin: 0;
}

p {
  margin: 15px 0;
}