$darkish-blue: #03267d;
$blue: #034fc1;
$gunmetal: #424a56;
$steel: #68789c;
$light-gray: #f9f9f9;
$white: #ffffff;
$lavender: #d9b2e5;
$very-light-blue: #e8ebf2;
$cerise: #ef0c5e;
$light-navy: #113059;
$light-blue-grey: #b8c3da;
$violet: #ae16dc;
$darkish-blue-darker: #00298f;
$ice: #ddfaec;
$greenish-teal: #31ca81;
$sl-green: #DDFAEC;
$green-light: #4EDD99;
$gray: #f4f4f4;
$dark-blue: #00298f;

@import "components.scss";
@import "bootstrap-grid.scss";
@import "typography.scss";
@import "homepage.scss";
@import "what-we-do.scss";
@import "benefits.scss";
@import "domain.scss";
@import "main-menu.scss";
@import "normalize.scss";
@import "footer.scss";
@import "contact.scss";
@import "portfolio.scss";
@import "legal.scss";
@import "how-we-work.scss";
@import "project.scss";
@import "about-us.scss";

// :root {
//   --darkish-blue: #03267d;
//   --blue: #034fc1;
//   --gunmetal: #424a56;
//   --steel: #68789c;
//   --light-gray: #f9f9f9;
//   --white: #ffffff;
//   --lavender: #d9b2e5;
//   --very-light-blue: #e8ebf2;
//   --cerise: #ef0c5e;
//   --light-navy: #113059;
//   --light-blue-grey: #b8c3da;
//   --violet: #ae16dc;
//   --darkish-blue-darker: #00298f;
//   --ice: #ddfaec;
//   --greenish-teal: #31ca81;
// }

body {
  font-size: 15px;
  font-family: Rubik;
  color: $gunmetal;
  line-height: 25px;

  @media (max-width: 1200px) {
    font-size: 14px;
    line-height: 22px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

.no-border {
  border: none !important;
}

.border-top {
  border-top: 1px solid $very-light-blue !important;
}

.border-bottom {
  border-bottom: 1px solid $very-light-blue !important;
}