.what-we-do-line-section {

  .h-icon {
    width: 75px;
    height: 75px;
    display: block;
    margin: 75px auto 0;

    @media (max-width: 840px) {
      margin: 60px auto 25px;
    }
  }

  .h2 {
    margin-top: 25px;
    text-align: center;

    @media (max-width: 840px) {
      margin-top: 15px;
    }
  }

  .h-lead {
    text-align: center;
    width: 560px;
    margin: 15px auto 0;

    @media (max-width: 840px) {
      width: 330px;
    }
  }

  .container {
    position: relative;
  }

  .progress-bar {
    width: 2px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    background: var(--very-light-blue);

    @media (max-width: 840px) {
      display: none;
    }

    .progress {
      width: 100%;
      background: #31ca81;
    }
  }

  // PROGRESS BLOCKS

  .progress-bar-block {
    padding-top: 50px;
    display: flex;

    @media (max-width: 840px) {
      display: block;
    }

    @media (max-width: 840px) {
      padding-top: 15px;
    }

    ul {
      width: 50%;

      @media (max-width: 840px) {
        width: auto;
      }

      // BLOCK

      li {
        width: 460px;
        border-radius: 4px;
        padding: 25px;
        position: relative;
        background: #F9F9F9;
        transition: .3s box-shadow, .3s background-color;
        margin-bottom: 50px;

        @media (max-width: 1200px) {
          width: 300px;
        }

        @media (max-width: 840px) {
          padding: 15px;
          width: auto;
          border: 1px solid #E8EBF2 !important;
          background: #fff !important;
          box-shadow: none !important;
          margin-top: 13px !important;
          margin-bottom: 0;

          &:after,
          &:before {
            display: none !important;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:after,
        &:before {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          background: #fff;
          position: absolute;
          background: #fff;
          right: 0;
          top: 20px;
          transform: rotate(45deg);
          opacity: 0;
          transition: .3s left, .3s right, .3s box-shadow, .3s opacity;
        }

        &:before {
          z-index: -1;
          width: 13px;
          height: 13px;
          top: 26px;
          @include shadow;
          right: 0;
        }

        h3 {
          line-height: 35px;
          margin-bottom: 25px;

          @media (max-width: 1200px) {
            line-height: 26px;
          }

          @media (max-width: 840px) {
            margin-bottom: 15px;
          }

          &:before {
            content: "";
            display: block;
            position: absolute;
            background: #fff;
            right: -127px;
            top: 20px;
            border-radius: 50%;
            box-sizing: content-box;
            border: 0 solid rgba(#31ca81, 0);
            width: 14px;
            height: 14px;
            background: #E8EBF2;
            transition: .3s;

            @media (max-width: 1200px) {
              right: -87px;
            }

            @media (max-width: 840px) {
              display: none;
            }
          }
        }

        p:last-child {
          margin-bottom: 0;
        }

        // ACTIVE BLOCK

        &.active {
          @include shadow;
          background: #fff;

          &:after,
          &:before {
            opacity: 1;
          }

          &:after {
            right: -12px;
          }
          
          &:before {
            right: -14px;
          }

          h3:before {
            width: 8px;
            height: 8px;
            background: #fff;
            border: 8px solid #31ca81;
            right: -132px;

            @media (max-width: 1200px) {
              right: -92px;
            }
          }
        }
      }

      &.right-list {
        margin-top: 75px;
  
        @media (max-width: 840px) {
          margin-top: 0;
        }

        // RIGHT BLOCK

        li {
          margin-left: auto;
          margin-right: 0;
  
          &:after {
            right: auto;
            left: 0;
          }
  
          &:before {
            right: auto;
            left: 0;
          }
  
          h3 {
  
            &:before {
              right: auto;
              left: -127px;
  
              @media (max-width: 1200px) {
                left: -86px;
              }
  
              @media (max-width: 840px) {
                display: none;
              }
            }
          }

          // RIGHT ACTIVE BLOCK
  
          &.active {
  
            &:after {
              left: -12px;
            }
  
            &:before {
              left: -14px;
            }
  
            h3 {
    
              &:before {
                left: -132px;
  
                @media (max-width: 1200px) {
                  left: -91px;
                }
              }
            }
          }
        }
      }
    }
  }
}